.fad{
	margin-top: .5em;
	margin-bottom: 1.5em;
	padding: 1.3em 2em;
	color: #fff;
	border-radius: 1em;
	background: rgba(0,0,0, 0.65);
	font-size: 15px;
}

.fad [type='submit']{
/*
	margin-top: 1em;
	margin-bottom: .5em;
*/
	width: 60%;
	margin: .3em;
	padding: .5em;
	font-size: 1em;
}
.navbar{
	background-color: #00004C;
}

.btn-primary{
	margin-bottom: 1em;
	font-size: 1.5em;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

nav div div a img{
	padding: 0 .5em;
}
.sidebar{
	margin-top: 1.35em;
}
.status{
	height:1.5em;
	color: #000000;
	background: #FFCC00;
}
.status ul li{
	margin-top: .1em;
	border-left-width: .2em;
	border-left-style: groove;
	border-left-color: #515151
}
.panel{
	margin-top: 1.5em;
}
/*
	dinamic form
*/
.title{
	width: 100%;
	margin-top: -1.4em;
	padding: .2em;
	color: #fff;
	border-radius: .4em;
	background-color: #B30602;
}
.title h5{
	font-size: 1.2em;
}

div div div ul li a{
	color: black;
}

div div div ul li a:hover{
	color: #b71815;
	font-size: 1.2em;
}

div div div ul li a:focus{
	color: #000;
	font-size: 1.1em;
	font-weight: bold;
}
div div div ul li a:active{
	color: #b71815;
}
.list-group-submenu {
	margin-left:20px;
}
