{% extends 'layouts/base.html' %}
{% block title %} {{title|capitalize}} {% endblock %}
{% block content %}
{{parent()}}
	<form action="#" class="fad col-md-6 col-md-offset-3 text-center" method="post">
		<div class="form-inline">
			<div class="form-group text-center col-lg-12">
				<label for="tyca" class="visible-xs">Tipo de carrera</label>
				<select name="tyca" id="tyca" class="form-control text-center" required>
					<option value="">Tipo de carrera</option>
					<option value="Lic.">Licenciatura</option>
					<option value="Ing.">Ingenieria</option>
					<option value="Lic. en Ing.">Licenciatura en Ingenieria</option>
				</select>
				<label for="join" class="visible-xs">preposicion</label>
				<select name="join" id="join" class="form-control text-center" required>
					<option value="">Preposicion</option>
					<option value="0">N/A</option>
					<option value="en">en</option>
					<option value="de">de</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="ncar">Nombre de la carrera</label>
			<input type="text" name="ncar" id="ncar" class="form-control text-center" placeholder="Solo nombre de la carrera" required>
		</div>
		<input type="submit" name="adca" value="{{title|capitalize}}" class="btn btn-success">
	</form>
{% endblock %}
